.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    background-image: url('../img/backgound.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

.full-height {
    min-height: 100vh;
}
.align-bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.align-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}